<section id="projects">
  <h1 class="section-title">Projects</h1>
  <div class="projects">
    <% projects.forEach(project => { %>
      <div class="project">
        <!-- template this in node ejs -->
        <div class="project-img">
          <img src="<%= project.screen %>" alt="<%= project.title %>">
        </div>
        <div class="project-info">
          <div class="project-title">
            <h2><%= project.title %></h2>
          </div>
          <div class="project-content">
            <h3><%= project.tagline %></h3>
            <div style="display: inline-block">
              <a 
                class="github-button" 
                href="<%= project.github %>" 
                data-size="large" 
                aria-label="View Project on GitHub">
                <%= project.title %>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
    <div class="project-dummy"></div>
    <div class="project-dummy"></div>
    <div class="project-dummy"></div>
  </div>
</section>